.mainDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}


.leftDiv{
    width: 50%;
}




/*  extra small devices (phones) */
@media screen and (max-width: 576px) {
   
  }

  
  /* small devices (tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {
   
  }
  