.tableElem {
  display: grid;

  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;

  justify-content: center;
  align-items: center;

  background: #fff;
}

.mainDiv {
  width: 50%;
  margin-left: 4.625rem;
}

.mainDiv h2 {
  width: 39.625rem;
  height: 4.375rem;
  flex-shrink: 0;
  color: var(--gray-700, #374151);
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}

.mainDiv h4 {
  width: 33.5rem;
  height: 2.375rem;
  flex-shrink: 0;
  color: var(--gray-700, #374151);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tableComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.19rem solid rgb(228, 228, 228);
  border-radius: 0.5rem;
  transition: 0.4s;
}

.downButtons {
  display: flex;
}

.downButtons button{
    cursor: pointer;
}

.backButton {
  width: 90%;
}

.nextButton {
  display: flex;
  justify-content: flex-end;
 
 

  

}
.nextButton button {
  border: none;
  border-radius: 0.25rem;
border: 1px solid var(--blue-600, #1C64F2);
background: var(--blue-500, #3F83F8);


display: inline-flex;
height: 2.9375rem;
padding: 0.75rem 0.805rem 0.68rem 1.8125rem;
justify-content: flex-end;
align-items: flex-start;
gap: 0.6875rem;
flex-shrink: 0;

}

.elemDetail {
  border-radius: 0.813rem;
  border: 0.063rem solid var(--gray-200, #e5e7eb);
  background: rgba(197, 197, 197, 0.18);
  width: 31.188rem;
  height: 3.813rem;
  padding: 1rem;
}
