/* 

.header {
  display: flex;
  flex-direction: row;
  align-items: center;


}

.header img {
  width: 6.25rem;
  height: 5.563rem;
 

}

body{
  margin: 0%;
}




.wholePageLogin {
  display: flex;
  flex-direction: row;
 
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 900px){
  .wholePageLogin {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .rightImage{
    display: none;
  }
}

.leftLogin {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm input {
  height: 2rem;
  border-radius: 0.5625rem;
  border: 0.063rem solid var(--gray-300, #d1d5db);
  background: #fff;
  display: inline-flex;
  padding: 0.5625rem 3.0625rem 0.4375rem 0.75rem;
  align-items: center;
  margin: 1rem;
  width: 32.125rem;
}

.loginForm button{
display: flex;
padding: 0.625rem;
align-items: center;
justify-content: center;
margin: 1rem;
border-radius: 0.5rem;
background: var(--blue-500, #3F83F8);
color: white;
border: none;
border-radius: 0.5rem;
background: var(--blue-500, #3F83F8);
height: 2.45rem;
width: 36.125rem;


}

.loginForm label{
    margin-left:1.2rem;
}

.rightImage{

  display: flex;
justify-content: center;
align-items: center;
  width: 49%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(218, 226, 255, 0.49) 0%, rgba(210, 220, 255, 0.27) 44.34%, rgba(255, 255, 255, 0.00) 100%);
}

.rightImage img {
  width: 40rem;
  height: 30rem;
}

.loginLogo img {
  width: 2.25rem;
  height: 2.25rem;
}
  
     
    
 
 
.loginLogo {
  display: flex;
  width: 14.5625rem;
  height: 1.5rem;
  padding: 0.625rem 0rem 0.625rem 0.5rem;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
  gap: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  margin: 1rem;
}


.loginLabel {
  color: blue;
}

.googleFacebook {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.loginOR {
  display: flex;
  justify-content: center;
 
  color: rgba(26, 23, 23, 0.38);
  margin: 1rem;
}
 */

 body{
  margin: 0%;
 }